<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--created bean for movie class-->
    <bean id="movie" class="com.stackroute.domain.Movie">

        <property name="actor" ref="actor"></property>
    </bean>
    <!--created bean for actor class-->
    <bean id="actor" class="com.stackroute.domain.Actor">
                <property name="Name" value="Ram"></property>
     <property name="Gender" value="Male"></property>
     <property name="Age" value="23"></property>
    </bean>
</beans>